@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% auto 15%;
      grid-template-columns: 15% auto 15%;
  text-align: center;
  background: #e5e5e5;
  padding: 30px 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 3;
  width: 100%;
}

nav #link a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  padding: 0 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  vertical-align: 10px;
}

nav #link a:hover {
  color: #e5e5e5;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

nav #social a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0 10px;
}

nav #social a:hover {
  -webkit-filter: invert(75%) sepia(12%) saturate(2175%) hue-rotate(147deg) brightness(93%) contrast(92%);
          filter: invert(75%) sepia(12%) saturate(2175%) hue-rotate(147deg) brightness(93%) contrast(92%);
}

nav #social a img {
  width: 20px;
}

.logo {
  font-weight: 900;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
  font-size: 36px !important;
  font-family: "Coda Caption", sans-serif;
  letter-spacing: 3px;
  padding-left: 3px;
}

.logo:hover {
  -webkit-transform: scale(2) !important;
          transform: scale(2) !important;
}

.logo span {
  font-family: "Passion One", cursive;
  vertical-align: 3px;
  font-size: 30px;
}

#banner .slick-prev {
  left: 50px;
  z-index: 2;
}

#banner .slick-next {
  right: 50px;
  z-index: 2;
}

#banner .slick-dots {
  bottom: 50px;
  z-index: 2;
}

#banner .banner1 {
  background-image: url(./image/Polarbear01.jpg);
  height: 100vh;
  text-align: center;
  color: #e9e9e9;
  background-size: cover;
}

#banner .banner1:focus {
  outline: none;
}

#banner .banner1 h1 {
  padding: 350px 0 50px 20px;
  font-size: 72px;
  letter-spacing: 20px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  #banner .banner1 h1 {
    padding: 550px 0 50px 20px;
  }
}

@media screen and (max-width: 767px) {
  #banner .banner1 h1 {
    padding: 300px 0 50px 20px;
    font-size: 32px;
  }
}

#banner .banner1 h2 {
  font-size: 24px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 767px) {
  #banner .banner1 h2 {
    width: 60%;
    margin: 0 auto;
    font-size: 10px;
  }
}

#banner .banner2 {
  background-image: url(./image/Polarbear02.jpg);
  height: 100vh;
  text-align: center;
  color: #e9e9e9;
  background-size: cover;
}

#banner .banner2:focus {
  outline: none;
}

#banner .banner2 h1 {
  padding: 350px 0 50px 20px;
  font-size: 72px;
  letter-spacing: 20px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  #banner .banner2 h1 {
    padding: 550px 0 50px 20px;
  }
}

@media screen and (max-width: 767px) {
  #banner .banner2 h1 {
    padding: 300px 0 50px 20px;
    font-size: 32px;
  }
}

#banner .banner2 h2 {
  font-size: 24px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 767px) {
  #banner .banner2 h2 {
    width: 60%;
    margin: 0 auto;
    font-size: 10px;
  }
}

#banner .banner3 {
  background-image: url(./image/Polarbear03.jpg);
  height: 100vh;
  text-align: center;
  color: #e9e9e9;
  background-size: cover;
}

#banner .banner3:focus {
  outline: none;
}

#banner .banner3 h1 {
  padding: 350px 0 50px 20px;
  font-size: 72px;
  letter-spacing: 20px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  #banner .banner3 h1 {
    padding: 550px 0 50px 20px;
  }
}

@media screen and (max-width: 767px) {
  #banner .banner3 h1 {
    padding: 300px 0 50px 20px;
    font-size: 32px;
  }
}

#banner .banner3 h2 {
  font-size: 24px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 767px) {
  #banner .banner3 h2 {
    width: 60%;
    margin: 0 auto;
    font-size: 10px;
  }
}

#banner .banner4 {
  background-image: url(./image/Polarbear04.jpg);
  height: 100vh;
  text-align: center;
  color: #e9e9e9;
  background-size: cover;
}

#banner .banner4:focus {
  outline: none;
}

#banner .banner4 h1 {
  padding: 350px 0 50px 20px;
  font-size: 72px;
  letter-spacing: 20px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  #banner .banner4 h1 {
    padding: 550px 0 50px 20px;
  }
}

@media screen and (max-width: 767px) {
  #banner .banner4 h1 {
    padding: 300px 0 50px 20px;
    font-size: 32px;
  }
}

#banner .banner4 h2 {
  font-size: 24px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 767px) {
  #banner .banner4 h2 {
    width: 60%;
    margin: 0 auto;
    font-size: 10px;
  }
}

#banner .banner5 {
  background-image: url(./image/Polarbear05.jpg);
  height: 100vh;
  text-align: center;
  color: #e9e9e9;
  background-size: cover;
}

#banner .banner5:focus {
  outline: none;
}

#banner .banner5 h1 {
  padding: 350px 0 50px 20px;
  font-size: 72px;
  letter-spacing: 20px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  #banner .banner5 h1 {
    padding: 550px 0 50px 20px;
  }
}

@media screen and (max-width: 767px) {
  #banner .banner5 h1 {
    padding: 300px 0 50px 20px;
    font-size: 32px;
  }
}

#banner .banner5 h2 {
  font-size: 24px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 767px) {
  #banner .banner5 h2 {
    width: 60%;
    margin: 0 auto;
    font-size: 10px;
  }
}

#banner .banner6 {
  background-image: url(./image/Polarbear06.jpg);
  height: 100vh;
  text-align: center;
  color: #e9e9e9;
  background-size: cover;
}

#banner .banner6:focus {
  outline: none;
}

#banner .banner6 h1 {
  padding: 350px 0 50px 20px;
  font-size: 72px;
  letter-spacing: 20px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  #banner .banner6 h1 {
    padding: 550px 0 50px 20px;
  }
}

@media screen and (max-width: 767px) {
  #banner .banner6 h1 {
    padding: 300px 0 50px 20px;
    font-size: 32px;
  }
}

#banner .banner6 h2 {
  font-size: 24px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 767px) {
  #banner .banner6 h2 {
    width: 60%;
    margin: 0 auto;
    font-size: 10px;
  }
}

#news {
  width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  #news {
    padding: 50px 20px;
    width: 100%;
  }
}

#news #news-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 767px) {
  #news #news-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}

#news #news-content .news-card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#news #news-content img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#news #news-content h3 {
  text-align: center;
  padding: 10px;
}

#news #news-content p {
  line-height: 1.5;
  font-size: 14px;
  padding: 20px 20px 30px;
}

#works {
  width: 1280px;
  margin: 0 auto;
  padding: 100px 0;
}

#works .work-card {
  text-align: center;
}

#works .work-card:focus {
  outline: none;
}

#works .work-card img {
  width: 230px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#works .work-card img:hover {
  border-radius: 20px;
}

#works .work-card h2 {
  padding: 20px 0;
}

#works .work-card small {
  color: #e5e5e5;
}

form {
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0 100px;
}

form input {
  width: 49%;
  padding: 10px;
}

form input::-webkit-input-placeholder {
  color: #e5e5e5;
  font-size: 14px;
}

form input:-ms-input-placeholder {
  color: #e5e5e5;
  font-size: 14px;
}

form input::-ms-input-placeholder {
  color: #e5e5e5;
  font-size: 14px;
}

form input::placeholder {
  color: #e5e5e5;
  font-size: 14px;
}

form input[type="email"] {
  float: right;
}

form textarea {
  width: 100%;
  height: 300px;
  margin: 30px 0;
  padding: 10px;
}

form textarea::-webkit-input-placeholder {
  color: #e5e5e5;
  font-size: 14px;
}

form textarea:-ms-input-placeholder {
  color: #e5e5e5;
  font-size: 14px;
}

form textarea::-ms-input-placeholder {
  color: #e5e5e5;
  font-size: 14px;
}

form textarea::placeholder {
  color: #e5e5e5;
  font-size: 14px;
}

footer {
  background: #e5e5e5;
  padding: 50px 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #e9e9e9;
  padding: 20px 0;
}

.btn {
  background: #e5e5e5;
  color: #e9e9e9;
  padding: 15px 0;
  display: block;
  margin: 0 auto;
  width: 95%;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  border: 1px solid #e5e5e5;
  background: #e9e9e9;
  color: #e5e5e5;
}

.title-big {
  text-align: center;
  padding: 30px 0 20px;
  font-size: 30px;
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */